* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url(http://wx1.sinaimg.cn/large/006u2vszgy1fdy2temzeej31hc0xcnna.jpg);
	background-attachment: fixed;
}
header nav {
	text-align:center; 	
}
header nav li {
	display:inline-block;
}
header nav li a {
	font-family: Fantasy;
	font-size: 22px;
	text-decoration: none;
	display: block;
	width: 100px;
}
#slideshow {
	width: 500px;
	height: 300px;
	margin: 10px auto;
	overflow: hidden;
	position: relative;
}
#preview {
	position: absolute;
}
article {
	width: 900px;
	margin-top: 10px;
}
section {
	display: none;
}
